<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
{%  extends "base.html" %}
{%  block body %}
    <h1 align="center">Credit Status by the Number of Children</h1>
    <div id="7b4702386fc94da1afa19ffc47093032" class="chart-container" style="width:1200px; height:500px;"></div>
    <script>
        var chart_7b4702386fc94da1afa19ffc47093032 = echarts.init(
            document.getElementById('7b4702386fc94da1afa19ffc47093032'), 'white', {renderer: 'canvas'});
        var option_7b4702386fc94da1afa19ffc47093032 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "line",
            "name": "Overdue",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "0 child",
                    58.44
                ],
                [
                    "1 child",
                    60.72
                ],
                [
                    "2 children",
                    60.5
                ],
                [
                    "3 children",
                    64.2
                ],
                [
                    "4 children",
                    47.62
                ],
                [
                    "5 children",
                    25.0
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 2,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        },
        {
            "type": "line",
            "name": "Paidoff",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "0 child",
                    41.56
                ],
                [
                    "1 child",
                    39.28
                ],
                [
                    "2 children",
                    39.5
                ],
                [
                    "3 children",
                    35.8
                ],
                [
                    "4 children",
                    52.38
                ],
                [
                    "5 children",
                    75.0
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 2,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        }
    ],
    "legend": [
        {
            "data": [
                "Overdue",
                "Paidoff"
            ],
            "selected": {
                "Overdue": true,
                "Paidoff": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "name": "Number of Children",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "0 child",
                "1 child",
                "2 children",
                "3 children",
                "4 children",
                "5 children"
            ]
        }
    ],
    "yAxis": [
        {
            "type": "log",
            "name": "Overdue/Paidoff in percentage %",
            "show": true,
            "scale": true,
            "nameLocation": "end",
            "nameGap": 15,
            "interval": 10,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "min": 20,
            "max": 100,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_7b4702386fc94da1afa19ffc47093032.setOption(option_7b4702386fc94da1afa19ffc47093032);
    </script>
{% endblock %}
</html>